.home__container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;


  .home__container--profile {
    flex-grow: 1;
  }

  .home__container--projects {
    flex-grow: 3;
  }
}