$main-font: 'Rubik Mono One', sans-serif;
$second-font: 'Rubik', sans-serif;

//Colors

$main-dark-color: #1F2828;
$padding: 24px;
$margin: 24px;


h1 {
  font-family: $main-font;
  font-weight: normal;
}

h2, h3, h4, h5, h5 {
  font-family: $second-font;
  font-weight: normal;
}

body {
  color: white;
}

.container {
  box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.3);
  background-color: hsla(180, 13%, 14%, 0.8);
  cursor: default;
  border-radius: 35px;
}

.a__custom {
  background-color: white;
  color: black;
  padding: 10px 50px;
  border-radius: 500px;
  box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.3);
  vertical-align: center;
  transition: all .5s;

  &:hover {
    box-shadow: 0 6px 6px 1px rgba(0, 0, 0, 0.6);
  }
}
